h2{
    font-family: 'Roboto Condensed',Arial,sans-serif;
    margin-top: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.container {
  text-align: center;
}
hr {
   margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
  max-width: 50px;
    border-color: #0476d0;
    border-width: 3px;
}
