	/*=-footer-=*/
    footer {
        color: #fff;
        background-attachment: fixed;
        background-color:#222;
background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
        background-size: cover;
        background-position: bottom;
    }
    footer p {
        color: #ccc;				
    }
footer a {
        color: #ccc;				
    }
    .social-pet li {
        display: inline-block;
        margin-right: 10px;
    }
    .social-pet li a {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        display: block;
        line-height: 35px;
        background-color: #3a5a95;
        color: #fff;
    }
    .social-pet li:nth-child(2) a {
        background-color: #57aced;
    }
    .social-pet li:nth-child(3) a {
        background-color: #dd4f43;
    }
    .social-pet li:nth-child(4) a {
        background-color: #6b27b2;
    }
    .social-pet li a:hover {
        background-color: #0141a2;
    }
    .social-pet li a:hover i {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    a.btn {
        color: #eee;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-decoration: none !important;
        font-size: 0.75rem;
        font-weight: 700;
        margin-right: 10px;
    }
       
   
    /*=-Copyright-=*/
    .copyright {
        background-color: #111;
        padding: 12px 0;
font-size:14px;
    }