<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
<!-- Footer -->
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-6 col-sm-6 mt-2 mb-4 text-center">
						<h5 class="mb-4 font-weight-bold ">CONNECT WITH US</h5>
						<ul class="social-pet mt-4">
							<li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
                </div>
                <div class="row">
                        <div class="col-md-12 col-md-6 col-sm-6 mt-2 mb-4 text-center">
                            <a href="customer-register.html" class="btn"> <span class="d-none d-md-inline-block ">HOME</span></a>
                            <a href="customer-register.html" class="btn"> <span class="d-none d-md-inline-block">ALBUM</span></a>
                            <a href="customer-register.html" class="btn"> <span class="d-none d-md-inline-block">ABOUT US</span></a>
                            <a href="customer-register.html" class="btn"> <span class="d-none d-md-inline-block">CONTACT US</span></a>
                        </div>
                    </div>
			</div>
		</footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
                            &copy; 2020 All Rights Reserved -SP Photography<br/>
                            Powered By- <a href = "#">abc@spphotography.com</a>
                        </div>
                        
					</div>
				</div>
			</div>
		</section>